<br/><br/>
<div class="container col-md-5 offset-md-3 card">
  <br><h3 class="text-center">Modificar Cliente</h3><br>
  <div class="form-group">
    <p class="text-left text-muted">Nombre:</p>
    <input class="form-control" [(ngModel)]="cliente.nombre">
  </div>
  <div class="form-group">
    <p class="text-left text-muted">RUC:</p>
    <input class="form-control" [(ngModel)]="cliente.ruc">
  </div>
  <div class="form-group">
    <p class="text-left text-muted">E-mail:</p>
    <input class="form-control" [(ngModel)]="cliente.email">
  </div>
  <button class="btn btn-primary form-control" (click)="guardar()">Guardar</button>
  <br/><br/>{{mensaje}}<br/><br/>
</div>

