<br/><h3 class="text-center card-title">Venta</h3><br/>
<div class="form-group">
  <p class="text-center text-muted">Cliente: {{venta.ventaCliente.nombre}} &nbsp;&nbsp;&nbsp; Fecha: {{venta.fecha}} &nbsp;&nbsp;&nbsp;Total: {{venta.total}}</p>
</div>
<div *ngIf="venta.detalleVenta.length>0">
  <div class="container">
    <table border="1" class="table table-bordered table-hover table-center">
      <thead class="thead-dark text-center">
      <tr>
        <th>Id</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Total</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let d of venta.detalleVenta">
        <td>{{d.id_detalles}}</td>
        <td>{{d.id_productos}}</td>
        <td>{{d.cantidad}}</td>
        <td>{{d.total}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div>
<br><h3 class="text-center">Registro de Detalles</h3><br>
<input class="form-control" placeholder="Ingrese Producto" [(ngModel)]="detalle.id_productos"><br>
<input class="form-control" placeholder="Ingrese Cantidad" [(ngModel)]="detalle.cantidad"><br>
<button class="btn btn-primary form-control" (click)="guardar()">Agregar Detalle</button>
</div>
<br/><br/>{{mensaje}}<br/><br/>
<td><a routerLink="/ventas" class="btn btn-primary">Guardar Venta</a></td>
