<!doctype html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <p class="navbar-brand">TP Final</p>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" data-toggle="dropdown" routerLink="/producto" role="button" aria-haspopup="true" aria-expanded="false">Producto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="dropdown" routerLink="/cliente" role="button" aria-haspopup="true" aria-expanded="false">Cliente</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="dropdown" routerLink="/ventas" role="button" aria-haspopup="true" aria-expanded="false">Venta</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="dropdown" routerLink="/resumido" role="button" aria-haspopup="true" aria-expanded="false">Reporte Resumido</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="dropdown" routerLink="/detallado" role="button" aria-haspopup="true" aria-expanded="false">Reporte Detallado</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="dropdown" routerLink="/reporte" role="button" aria-haspopup="true" aria-expanded="false">Reporte</a>
        </li>
      </ul>
    </div>
  </nav>

  <div style="text-align:center">
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</body>
</html>




